

<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Edit this Moviebox", edit_user_moviebox_path(current_user, @moviebox), :method => "get", class: "btn btn-warning btn-block" %>
    </li>
    <li class="nav-item mb-3">
      <%= button_to "Back to All Movieboxes", user_movieboxes_path(current_user), :method => "get", class: "btn btn-dark btn-block" %>
    </li>
    <li class="nav-item">
      <%= button_to "Add Movies", movies_path, :method => "get", class: "btn btn-dark btn-block" %>
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <% @movies.each do |movie| %>
      <div class="card mb-3">
        <h5 class="card-header"><%= link_to movie.title, movie_path(movie) %></h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Director: <%= movie.director %></li>
          <li class="list-group-item">Year: <%= movie.year%></li>
        </ul>
      </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= form_tag(moviebox_path, method: "delete") do %>
    <%= submit_tag("Delete moviebox", class: "btn btn-danger btn-block") %>
  <% end %>
<% end %>